<launch>
	<node pkg="Behavior_hospital" type="darknet_node" name="Darknet" output="screen">
	<node pkg="Behavior_hospital" type="node_rgbd_distance" name="RGBD Distance" output="screen">
	<node pkg="Behavior_hospital" type="behavior_hospital_node" name="Behavior_hospital" output="screen">

	<node pkg="hospital_navigation" type="navigation_once" name="navigation" output="screen">

	<node name="rviz" pkg="rviz" type="rviz" args="-d $>(find behavior_hospital)/config/rviz_config.rviz"/>
</launch>